{% extends 'base.html' %}

{% block title %} Stock Market App {% endblock %}

{% block content %}
  <header class="text-center">
    <h1>Stock Market App</h1>
  </header>
  <div class="mt-4 container d-flex justify-content-center flex-wrap">
    {% for index in indices %}
      <div class="mb-3 mx-3 card text-center" style="width: 20rem;">
        {% if index.close|float() > index.open|float() %}
          <div class="card-header bg-success text-light">{{index.name}}</div>
        {% elif index.close|float() < index.open|float() %}
          <div class="card-header bg-danger text-light">{{index.name}}</div>
        {% else %}
          <div class="card-header bg-danger">{{index.name}}</div>
        {% endif %}
        <ul class="list-group list-group-horizontal h-50">
          <li class="list-group-item w-50">High: ${{index.high}}</li>
          <li class="list-group-item w-50">Low: ${{index.low}}</li>
        </ul>
        <ul class="list-group list-group-horizontal h-50">
          <li class="list-group-item w-50">Open: ${{index.open}}</li>
          <li class="list-group-item w-50">Close: ${{index.close}}</li>
        </ul>
      </div>
    {% endfor %}
  </div> 
  {% if watchlist %}
    <div class="watchlist-container d-flex flex-column align-items-center">
      <div class="mt-4 container d-flex justify-content-center">
        <div class="w-80 table-responsive">
          <table class="table table-bordered border-info border-2">
            {% if watchlist[0] %}
              <h4 class="mb-3 text-center">{{watchlist[0].name}}</h4>
            {% endif %}
            <thead>
              <tr class="text-center">
                <th class="col">Ticker Symbol</th>
                <th class="col">Company</th>
                <th class="col">Open</th>
                <th class="col">Close</th>
                <th class="col">High</th>
                <th class="col">Low</th>
                <th class="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for list in watchlist %}
                <tr class="text-center" data-row-id="{{list.id}}">
                  <td><a href="/tickers/{{list.ticker}}">{{list.ticker}}</a></td>
                  <td>{{list.tickers.name}}</td>
                  <td>${{list.open}}</td>
                  <td>${{list.close}}</td>
                  <td>${{list.high}}</td>
                  <td>${{list.low}}</td>
                  <td>
                    <button class="fas fa-trash-alt delete-watchlist-item link-danger" style="border: none; background: none;" data-id="{{list.id}}"></button>
                  </td>
                </tr>        
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a class="btn btn-primary me-3" href="/tickers">Add Ticker</a>
        <button class="delete-watchlist-button btn btn-danger" data-route="home">Delete Watchlist</button>
      </div>
    </div>
  {% endif %}
  <div class="mt-4 container">
    <h1 class="mb-3 text-center">News Articles</h1>
    {% if news %}
      <div class="row row-cols-1 row-cols-md-3 g-2 justify-content-center">
        {% for article in news %}
          <div class="mb-3 mx-3 card text-center" style="width: 20rem;">
            <div class="card-header bg-dark text-light">{{article.title}}</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{article.summary}}</p>
                {% if article.authors|length == 0 %}
                  <footer class="blockquote-footer">Written By: Anonymous</footer>
                {% elif article.authors|length >= 1 %}
                  <footer class="blockquote-footer">
                    Written By:
                    {% for author in article.authors %}
                      {% if author == article.authors|last %}
                        {{author.title()}}
                      {% else %}
                        {{author.title(), }}
                      {% endif %}
                    {% endfor %}
                  </footer>
                {% endif %}
              </blockquote>
              <a href="{{article.url}}" target="_blank" class="mt-2 btn btn-primary">Go to Article</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center">
        <h4>No news yet! Please try again in a few minutes.</h4>
      </div>
    {% endif %}
  </div>
{% endblock %}